<a href="https://colab.research.google.com/github/drxr/home-work-/blob/main/Untitled14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

In [2]:
'https://content.codecademy.com/courses/beautifulsoup/cacao/index.html'

'https://content.codecademy.com/courses/beautifulsoup/cacao/index.html'

In [ ]:
import pandas as pd

df = pd.read_html('https://smi.adm-nao.ru/informaciya-o-predostavlenii-gosudarstvennyh-uslug/')
df[0]

                                                   0  ...                                                  3
0                                              № п/п  ...  Наличие межведомственного взаимодействия (да/н...
1  1. Государственные услуги, предоставляемые орг...  ...  1. Государственные услуги, предоставляемые орг...
2                                                1.1  ...                                                нет
3                                                1.2  ...                                                 да
4  2. Государственные функции, исполняемые органо...  ...  2. Государственные функции, исполняемые органо...
5                                                NaN  ...                                                NaN
6                                                NaN  ...                                                NaN

[7 rows x 4 columns]

In [11]:
# Write your code here
import random
import sqlite3


conn = sqlite3.connect('/content/card.s3db')

def luhn():
    bank_id = '400000'
    user_id = ''
    for num in range(9):
        user_id += str(random.randint(0, 9))
    card_num = bank_id + user_id
    lst = []
    for i in range(len(card_num)):
        if i % 2 == 0:
            num = int(card_num[i]) * 2
            if num >= 10:
                num -= 9
                lst.append(num)
            else:
                lst.append(num)
        else:
            num = int(card_num[i])
            lst.append(num)
    checksum = 10 - sum(lst) % 10
    if checksum == 10:
        checksum = 0
    card_num += str(checksum)
    return card_num

def check_luhn(transfer_card_number):
    lst = []
    for i in range(len(transfer_card_number) - 1):
        if i % 2 == 0:
            num = int(transfer_card_number[i]) * 2
            if num >= 10:
                num -= 9
                lst.append(num)
            else:
                lst.append(num)
        else:
            num = int(transfer_card_number[i])
            lst.append(num)
    checksum = 10 - sum(lst) % 10
    if checksum == 10:
        checksum = 0
    return checksum == int(transfer_card_number) % 10

def check_card(transfer_card_number):
    cur = conn.cursor()
    cur.execute('SELECT * FROM card WHERE number = ?;', (transfer_card_number,))
    res = cur.fetchone()
    conn.commit()
    if res == None:
        return 0
    return len(res)

def main_menu():
    print('1. Create an account\n2. Log into account\n0. Exit')
    n = int(input())
    if n not in [1, 2, 0]:
        print('Wrong option!')
        main_menu()
    else:
        coordinator(n)

def login_page():
    card_input = str(input('Enter your card number: '))
    pin_input = str(input('Enter your PIN: '))
    cur = conn.cursor()
    cur.execute('SELECT * FROM card WHERE number = ?;', (card_input,))
    res = cur.fetchall()
    conn.commit()
    if len(res[0][1]) != 0 and res[0][2] == pin_input:
        print('You have successfully logged in!')
        personal_page(res[0][1])
    else:
        print('Wrong card number or PIN!')
        main_menu()

def personal_page(card_number):
    print('1. Balance\n2. Add income\n3. Do transfer\n4. Close account\n5. Log out\n0. Exit')
    n = int(input())
    if n not in [1, 2, 3, 4, 5, 0]:
        print('Wrong option!')
        personal_page(card_number)
    elif n == 1:
        cur = conn.cursor()
        res = cur.execute('SELECT * FROM card WHERE number = ?', (card_number,)).fetchone()
        conn.commit()
        print('Balance: {}'.format(res[3]))
        personal_page(card_number)
    elif n == 2:
        income = int(input('Enter income: '))
        cur = conn.cursor()
        cur.execute('UPDATE card SET balance = balance + ? WHERE number = ?', (income, card_number))
        conn.commit()
        print('Income was added!')
        personal_page(card_number)
    elif n == 3:
        transfer_card_number = str(input('Enter card number: '))
        if check_luhn(transfer_card_number) is not True:
            print('Probably you made a mistake in the card number. Please try again!')
            personal_page(card_number)
        elif check_card(transfer_card_number) == 0:
            print('Such a card does not exist.')
            personal_page(card_number)
        elif transfer_card_number == card_number:
                print("You can't transfer money to the same account!")
                personal_page(card_number)
        elif check_luhn(transfer_card_number) is True and check_card(transfer_card_number) > 0:
            amount = int(input('Enter how much money you want to transfer: '))
            cur = conn.cursor()
            cur.execute('SELECT * FROM card WHERE number = ?;', (card_number,))
            res = cur.fetchone()
            conn.commit()
            if res[-1] >= amount:
                cur = conn.cursor()
                cur.execute('UPDATE card SET balance = balance + ? WHERE number = ?', (amount, transfer_card_number))
                cur.execute('UPDATE card SET balance = balance - ? WHERE number = ?', (amount, card_number))
                conn.commit()
                print('Success!')
                personal_page(card_number)
            else:
                print('Not enough money!')
                peronal_page(card_number)
    elif n == 4:
        cur = conn.cursor()
        cur.execute('DELETE FROM card WHERE number = ?', (card_number,))
        conn.commit()
        print('The account has been closed!')
        main_menu()
    elif n == 5:
        print('You have successfully logged out!')
        main_menu()
    elif n == 0:
        coordinator(0)
        exit()

def create_account():
    pin = ''
    for num in range(4):
        pin += str(random.randint(0, 9))
    card_number = luhn()
    print('Your card has been created')
    print('Your card number:\n{}'.format(card_number))
    print('Your card PIN:\n{}'.format(pin))
    cur = conn.cursor()
    cur.execute('''CREATE TABLE IF NOT EXISTS card (
        id INTEGER PRIMARY KEY, 
        number TEXT, 
        pin TEXT, 
        balance INTEGER DEFAULT 0);
        ''')
    cur.execute('INSERT INTO card (number, pin) VALUES (?, ?)', (card_number, pin))
    conn.commit()
    main_menu()

def coordinator(n):
    if n == 1:
        create_account()
    elif n == 2:
        login_page()
    elif n == 0:
        print('Bye!')
        exit()

if __name__ == '__main__':
    main_menu()

1. Create an account
2. Log into account
0. Exit
2
Enter your card number: 4000000362747067
Enter your PIN: 9449
You have successfully logged in!
1. Balance
2. Add income
3. Do transfer
4. Close account
5. Log out
0. Exit
3
Enter card number: 4000000604674202
Such a card does not exist
1. Balance
2. Add income
3. Do transfer
4. Close account
5. Log out
0. Exit
0
Bye!

In [ ]:
def luhn():
    bank_id = '400000'
    user_id = ''
    for num in range(9):
        user_id += str(random.randint(0, 9))
    card_num = bank_id + user_id
    print(card_num)
    lst = []
    for i in range(len(card_num)):
        if i % 2 == 0:
            num = int(card_num[i]) * 2
            if num >= 10:
                num -= 9
                lst.append(num)
            else:
                lst.append(num)
        else:
            num = int(card_num[i])
            lst.append(num)
    checksum = 10 - sum(lst) % 10
    if checksum == 10:
        checksum = 0
    card_num += str(checksum)
    

luhn()

'4000000604674202'

400000060467420
[8, 0, 0, 0, 0, 0, 0, 6, 0, 4, 3, 7, 8, 2, 0]
38
8
2
4000000604674202

In [1]:
import sqlite3
conn = sqlite3.connect('/content/card.s3db')
cur = conn.cursor()
cur.execute('SELECT * FROM card;')
res = cur.fetchall()
res

[(1, '4000007485401209', '4270', 0),
 (2, '4000002743367136', '0825', 25000),
 (4, '4000008020003419', '1036', 0),
 (5, '4000008191129456', '8572', 0),
 (6, '4000000362747067', '9449', 25000),
 (7, '4000007836605078', '7670', 0),
 (8, '4000009916541777', '9452', 0),
 (9, '4000001294763412', '4337', 0),
 (10, '4000003355827110', '2871', 0)]

In [10]:
cur = conn.cursor()
cur.execute('SELECT * FROM card WHERE number = ?;', (4000000362747069,))
res = cur.fetchone()
conn.commit()
if res == None:
    print('!')

!