<a href="https://colab.research.google.com/github/drxr/home-work-/blob/main/Untitled24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

1. Загружаем набор данных о каких-то гражданах и смотрим на качество данных, в нашем случае это согласованность

In [23]:
# загружаем датасет и смотрим на первые пять строк на предмет правильности загрузки и чистоты данных
df = pd.read_csv('/content/dirty_data.csv', sep=';')
df.head()

            name second_name  ...            email age
0         Иванов        Иван  ...       iv@mail.ru  28
1         Петров        Петр  ...     petr@list,ru  37
2        Сидоров       Сидор  ...  sidor yandex.ru  25
3   Ельпидифоров  Ельпидифор  ...     el@yahoo.com  14
4  Сколопендрова       Аспид  ...  snake@mannet.ru  31

[5 rows x 6 columns]

In [25]:
# проверяем типы колонок на соответствие
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         5 non-null      object
 1   second_name  5 non-null      object
 2   surname      5 non-null      object
 3   phone        5 non-null      object
 4   email        5 non-null      object
 5   age          5 non-null      object
dtypes: object(6)
memory usage: 368.0+ bytes

2. Колонка возраст имеет тип строка, то есть мы не можем выполнять с ней арифметические операции, например, посчитать средний возраст, минимальное и максимальное значение или разбить на возрастные группы

In [8]:
# переводим колонку в возраст в числовой тип
df.age = df.age.astype('int')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         5 non-null      object
 1   second_name  5 non-null      object
 2   surname      5 non-null      object
 3   phone        5 non-null      object
 4   email        5 non-null      object
 5   age          5 non-null      int64
dtypes: int64(1), object(5)
memory usage: 368.0+ bytes

3. Колонка номер телефона не согласована - нет единообразия.

In [26]:
# приводим колонку номер телефона к единому формату
df.phone = df.phone.str.replace('-', '')
df.phone = df.phone.apply(lambda row: '7' + row[1:])

In [27]:
df.head()

            name second_name         surname        phone            email age
0         Иванов        Иван        Иванович  79101121212       iv@mail.ru  28
1         Петров        Петр        Петрович  79206666000     petr@list,ru  37
2        Сидоров       Сидор       Сидорович  79151151515  sidor yandex.ru  25
3   Ельпидифоров  Ельпидифор  Ельпидифирович  79115786867     el@yahoo.com  14
4  Сколопендрова       Аспид     Серпентовна  79101001525  snake@mannet.ru  31

4. Колонка электронная почта также заполнена с ошибками: если мы хотим быть уверенными, что письмо уйдет адресату необходимо привести данные в правильный вид

In [28]:
df.email = df.email.str.replace(' ', '@')
df.email = df.email.str.replace(',', '.')

In [29]:
df.head()

            name second_name         surname        phone            email age
0         Иванов        Иван        Иванович  79101121212       iv@mail.ru  28
1         Петров        Петр        Петрович  79206666000     petr@list.ru  37
2        Сидоров       Сидор       Сидорович  79151151515  sidor@yandex.ru  25
3   Ельпидифоров  Ельпидифор  Ельпидифирович  79115786867     el@yahoo.com  14
4  Сколопендрова       Аспид     Серпентовна  79101001525  snake@mannet.ru  31

Таким образом, из-за несогласованности данных мы потратили время для того, чтобы привести данные в согласованный вид - теперь они в едином формате, также мы убрали недостоверность данных - ошибки в колонке электронная почта привели к тому, что адрес электронной почты нельзя использовать в таком виде (электронное письмо не уйдет адресату), также неверный формат колонки возраст привел к тому, что ее не получится проанализировать.

In [30]:
#сохраним очищенные данные в новый файл
df.to_csv('/content/clean_data.csv')

Загрузим очищенный файл с данными

In [31]:
clean = pd.read_csv('/content/clean_data.csv')

Плюс согласованных данных в том, что мы сразу можем извлекать из них информацию

In [37]:
print(f'Средний возраст граждан в выборке: {clean.age.mean()} лет.')
print(f'Медианный возраст граждан в выборке: {clean.age.median()} лет.')
print(f'В выборке {len(df)} человек.')

Средний возраст граждан в выборке: 27.0 лет.
Медианный возраст граждан в выборке: 28.0 лет.
В выборке 5 человек.

In [35]:
dirty = pd.read_csv('/content/dirty_data.csv', sep=';')

In [40]:
print(f'Средний возраст граждан в выборке: {dirty.age.mean()} лет.')

Средний возраст граждан в выборке: 567450286.2 лет.

567 миллионов лет в среднем живет человек в выборке с неочищенными данными )